@model CasinoApp.Entities.Usuario.UsuarioDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UsuarioDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
