@model CasinoApp.Client.Mvc.Models.ViewModels.CUEmpledoViewModel

@{
    ViewData["Title"] = "Create";
 
}

<h1>Create</h1>

<h4>EmpleadoDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Empleado.NombreEmpleado" class="control-label"></label>
                <input asp-for="Empleado.NombreEmpleado" class="form-control" />
                <span asp-validation-for="Empleado.NombreEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.ApellidoE" class="control-label"></label>
                <input asp-for="Empleado.ApellidoE" class="form-control" />
                <span asp-validation-for="Empleado.ApellidoE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="IdTipoEmpleadoE">Grupo de empleado</label>
                <select asp-for="Empleado.IdGrupoEE" class="form-control">
                    <option value="">Seleccione...</option>
                    @foreach (var Grupo in Model.GruposEmpleado)
                    {
                        <option value="@Grupo.Id">@Grupo.NombreGrupo</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.IdentificacionE" class="control-label"></label>
                <input asp-for="Empleado.IdentificacionE" class="form-control" />
                <span asp-validation-for="Empleado.IdentificacionE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="IdTipoEmpleadoE">Tipo de Empleado</label>
                <select asp-for="Empleado.IdTipoEmpleadoE" class="form-control">
                    <option value="">Seleccione...</option>
                    @foreach (var tipoEmpleado in Model.TiposEmpleado)
                    {
                        <option value="@tipoEmpleado.Id">@tipoEmpleado.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="IdTipoEmpleadoE">Tipo de Identificacion</label>
                <select asp-for="Empleado.IdTipoIdentificacionE" class="form-control">
                    <option value="">Seleccione...</option>
                    @foreach (var tipoIdentificacion in Model.TiposIdentificacion)
                    {
                        <option value="@tipoIdentificacion.Id">@tipoIdentificacion.TipoIdentificacion</option>
                    }
                </select>
            </div>

            <div class="form-group form-check">
                <label for="IdTipoEmpleadoE">Interno</label>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Empleado.InternoE" /> 
                </label>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
