@model CasinoApp.Client.Mvc.Models.ViewModels.CUEmpledoViewModel

@{
    ViewData["Title"] = "Create";

}

<div class="row text-center">
    <div class="col-md-12">
        <h3>Crear funcionario</h3>
    </div>
</div>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row g-3 align-items-center">
                <div class="col-md-4">
                    <label asp-for="Empleado.NombreEmpleado" class="control-label">Nombre</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Empleado.NombreEmpleado" class="form-control" />
                    <span asp-validation-for="Empleado.NombreEmpleado" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row g-3 align-items-center">
                <div class="col-md-4">
                    <label asp-for="Empleado.ApellidoE" class="control-label">Apellido</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Empleado.ApellidoE" class="form-control" />
                    <span asp-validation-for="Empleado.ApellidoE" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row g-3 align-items-center">
                <div class="col-md-4">
                    <label for="IdTipoEmpleadoE">Tipo de Identificacion</label>
                </div>
                <div class="col-md-8">
                    <select asp-for="Empleado.IdTipoIdentificacionE" class="form-control">
                        <option value="">Seleccione...</option>
                        @foreach (var tipoIdentificacion in Model.TiposIdentificacion)
                        {
                            <option value="@tipoIdentificacion.Id">@tipoIdentificacion.TipoIdentificacion</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row g-3 align-items-center">
                <div class="col-md-4">
                    <label asp-for="Empleado.IdentificacionE" class="control-label">Identificación</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Empleado.IdentificacionE" class="form-control" />
                    <span asp-validation-for="Empleado.IdentificacionE" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row g-3 align-items-center">
                <div class="col-md-4">
                    <label for="IdTipoEmpleadoE">Grupo de funcionario</label>
                </div>
                <div class="col-md-8">
                    <select asp-for="Empleado.IdGrupoEE" class="form-control">
                        <option value="">Seleccione...</option>
                        @foreach (var Grupo in Model.GruposEmpleado)
                        {
                            <option value="@Grupo.Id">@Grupo.NombreGrupo</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row g-3 align-items-center">
                <div class="col-md-4">
                    <label for="IdTipoEmpleadoE">Tipo de funcionario</label>
                </div>
                <div class="col-md-8">
                    <select asp-for="Empleado.IdTipoEmpleadoE" class="form-control">
                        <option value="">Seleccione...</option>
                        @foreach (var tipoEmpleado in Model.TiposEmpleado)
                        {
                            <option value="@tipoEmpleado.Id">@tipoEmpleado.Nombre</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row g-3 align-items-center">
                <div class="col-md-4">
                    <label for="IdTipoEmpleadoE">Interno</label>
                </div>
                <div class="col-md-8">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Empleado.InternoE" />
                    </label>
                </div>
            </div>
            <center>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <button type="submit" value="Crear" class="btn btn-sm btn-info" data-toggle="modal" data-target="#exampleModalCenter">
                            Crear
                        </button> |
                        <a asp-action="Index" class="text-decoration-none">
                            <button value="Volver" class="btn btn-sm btn-secondary" type="button">
                                Volver
                            </button>
                        </a>
                    </div>
                </div>
            </center>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
